extends layout

block content
    .card.text-dark
        ul.collection
            each user in users
                li.collection__item.avatar
                    img.circle(src=`uploads/${user.photo || 'avatar.png'}`, alt="")
                    .collection__item-text
                        span.title #{user.name}
                        p.sub #{user.title}
                    a.secondary-content(href=`/users/delete/${user._id}`)
                        i.material-icons delete
                    a.secondary-content(href=`/users/edit-user/${user._id}`)
                        i.material-icons edit
                    a.secondary-content(href=`/users/user-profile/${user._id}`)
                        i.material-icons chevron_right

        form(action="/add", method="get")
            button.btn Create new User